.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs_items {
  color: white;
  padding: 10px;
}
.dialogs_items .active {
  color: gold;
}

.dialogs_items .dialog {
  color: white;
}

.messages {
  padding: 10px;
}
.messages .message {
  color: white;
}
